---
import TestComponent from '../components/test/TestComponent.svelte';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Acerca de Nosotros</title>
  </head>
  <body>
    <main>
      <TestComponent client:load />
    </main>
  </body>
</html>
